<div class="container">
  <div
    class="row justify-content-between align-items-center py-2 border-bottom border-1 border-dark"
  >
    <div class="col-md-4 col-4">
      <h4 class="">Companies</h4>
    </div>
    <div class="col-md-4 col-4 text-end">
      <span
        class="text-light fw-bolder border-0 rounded-circle p-2 bg-info "
        (click)="logout()">
    {{ avatar | uppercase }}
    </span>
    </div>
  </div>

  <div class="row justify-content-between">
    <div class="col-md-7">
      <span class="mt-5" *ngIf="companies.length === 0 ">Nessuna azienda presente</span>
      <ul class="list-group list-unstyled" *ngIf="companies.length > 0">
        <li class="mt-4 list-style-none" *ngFor="let comp of companies">
          <app-company-details [company]="comp" (click)="delete(comp)"></app-company-details>          
        </li>
      </ul>
    </div>
    <div class="col-md-5 ">
      <app-company-form ></app-company-form>
    </div>
  </div>
</div>
