
<div class="card shadow-lg mt-4 mb-3">
  <div class="card-body">
    <h5 class="card-title border-bottom border-2 border-dark pb-2">New Company</h5>
    <form class="fw-bold" [formGroup]="companyForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="" id="name" class="form-control" formControlName="name"/>
        <span class="help-block text-danger fw-normal" *ngIf="companyForm.get('name')?.invalid && companyForm.get('name')?.touched">Inserire un nome</span>
      </div>

      <div class="form-group">
        <label for="address">Address</label>
        <input type="text" name="" id="address" class="form-control"formControlName="address" />
        <span class="help-block text-danger fw-normal" *ngIf="companyForm.get('address')?.invalid && companyForm.get('address')?.touched">Inserire un indirizzo</span>
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="text" name="" id="phone" class="form-control" formControlName="phone"/>
        <span class="help-block text-danger fw-normal" *ngIf="companyForm.get('phone')?.invalid && companyForm.get('phone')?.touched">Inserire un nome</span>
      </div>

      <div class="form-group">
        <label for="revenue">Revenue</label>
        <input type="number" name="" id="revenue" class="form-control" formControlName="revenue"/>
        <span class="help-block text-danger fw-normal" *ngIf="companyForm.get('revenue')?.invalid && companyForm.get('revenue')?.touched">Inserire un nome</span>
      </div>

      <button type="submit" [disabled]="!companyForm.valid" class="btn btn-dark text-light mt-4">Add Company</button>
    </form>
  </div>
</div>
