<div class="card shadow-lg">
  <div class="card-body">
    <h5 class="card-title border-bottom border-dark border-1 pb-1">
      {{ company.name }}
    </h5>
    <form class="fw-bold">
      <div class="row">
        <div class="form-group col-md-12">
          <label for="address-{{ company.id }}">Address</label>
          <input
            type="text"
            disabled
            value="{{ company.address }}"
            class="form-control"
            id="address-{{ company.id }}"
          />
        </div>
        <div class="d-flex justify-content-between">
          <div class="col-md-5 col-5">
            <label for="phone-{{ company.id }}">Phone</label>
            <input
              type="text"
              disabled
              value="{{ company.phone }}"
              class="form-control"
              id="phone-{{ company.id }}"
            />
          </div>

          <div class="col-md-5 col-5">
            <label for="revenue-{{ company.id }}">Revenue</label>
            <input
              type="text"
              disabled
              value="{{ company.revenue }}"
              class="form-control"
              id="revenue-{{ company.id }}"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
